html{
			font-size:10px;
		}
		body{
			font-size:2rem;
			font-family: 'Lato', sans-serif;
			font-size: 300;
			-webkit-font-smoothing: antialiased;
			background: #3498db;
			color: white;
			padding: 0 2em;
		}
		h1{
			font-size: 2em;
			font-weight: 300;
		}
		.container .box .box-row{
			display: table-row;
		}
			.container .box .box-cell{
			display: table-cell;
			width: 60%;
			padding: 10px;
		}

		#drop{
			width: 1000px;
			height: 90px;
			border: 4px dashed white;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 1em 1em 2em 1em;
			overflow-y: hidden;
		}
		#operationBox{
			
			width: 280px;
			height: 50px;
			border: 4px dashed white;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 1em 1em 2em 1em;
			overflow-y: hidden;
		}
		.dragable-item{

			width: 100px;
			height: 100px;
			background: #34495e;
			margin: 0.55em;
			text-align: center;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 1em;
			float: left;
		}
		.dragable-operand{

			width: 95px;
			height: 95px;
			background: #34495e;
			margin: 2px;
			text-align: center;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 1em;
			float: left;
		}
		.dragable-button{
				width: 95px; 
				height: 95px;
				background: #34495e;
				margin: 2px; 
				text-align: center;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 1em;
				font-family: 'Lato', sans-serif;
				-webkit-font-smoothing: antialiased;
				color: white;
				float: left;"

		}

		#total-costs{
			padding: 1em 0 0 0;
		}

		a{
			clear: both;
			color: white;
			text-decoration: none;
			padding-top: 1em;
			display: block;
		}

		a:hover{
			color: #ecf0f1;
		}

		*[draggable=true] {
		  -moz-user-select:none;
		  -khtml-user-drag: element;
		  cursor: move;
=======
html{
			font-size:10px;
		}
		body{
			font-size:2rem;
			font-family: 'Lato', sans-serif;
			font-size: 300;
			-webkit-font-smoothing: antialiased;
			background: #3498db;
			color: white;
			padding: 0 2em;
		}
		h1{
			font-size: 2em;
			font-weight: 300;
		}
		.container .box .box-row{
			display: table-row;
		}
			.container .box .box-cell{
			display: table-cell;
			width: 60%;
			padding: 10px;
		}

		#drop{
			width: 1000px;
			height: 90px;
			border: 4px dashed white;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 1em 1em 2em 1em;
			overflow-y: hidden;
		}
		#operationBox{
			
			width: 280px;
			height: 50px;
			border: 4px dashed white;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 1em 1em 2em 1em;
			overflow-y: hidden;
		}
		.dragable-item{

			width: 100px;
			height: 100px;
			background: #34495e;
			margin: 0.55em;
			text-align: center;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 1em;
			float: left;
		}
		.dragable-operand{

			width: 95px;
			height: 95px;
			background: #34495e;
			margin: 2px;
			text-align: center;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 1em;
			float: left;
		}
		.dragable-button{
				width: 95px; 
				height: 95px;
				background: #34495e;
				margin: 2px; 
				text-align: center;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 1em;
				font-family: 'Lato', sans-serif;
				-webkit-font-smoothing: antialiased;
				color: white;
				float: left;"

		}

		#total-costs{
			padding: 1em 0 0 0;
		}

		a{
			clear: both;
			color: white;
			text-decoration: none;
			padding-top: 1em;
			display: block;
		}

		a:hover{
			color: #ecf0f1;
		}

		*[draggable=true] {
		  -moz-user-select:none;
		  -khtml-user-drag: element;
		  cursor: move;
>>>>>>> 22cde6085b0f0bc757ec184fd511fef156174dd4
		}