<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SER 515 Project</title>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">

  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script> 
      
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script> 
      
  <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">LeARn</a>
      <a class="btn btn-primary" href="/logout">Log out</a>
    </div>
  </nav>

  <!-- Masthead -->
  <!--<header class="masthead">
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-12 text-white showcase-img" style="background-image: url('img/bg-showcase-6.jpg');"></div>
        </div>
      </div>
    </section>
  </header>-->

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <form action="action.php" class="was-validated"> 
            <div class="form-group"> 
                <p class="text-left">Question 1</p> 
                <input type="text" class="form-control" id="Q1"
                      placeholder="Type text here" name="addmore[]1" required>
                <div class="valid-feedback">Valid</div> 
                <div class="invalid-feedback"> 
                    Please fill this field 
                </div>
                <p class="text-left">Choices:</p>
            </div>
            <div class="form-group after-add-more form-inline">
              <input type="text" name="addmore[]" class="form-control" placeholder="Choice#" style="width:500px">
                <div class="form-group-btn"> 
                  <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> +</button>
                </div>
            </div>
              
            <div class="form-group"> 
                <p class="text-left">Question 2</p> 
                <input type="text" class="form-control" id="Q2"
                    placeholder="Type text here" name="addmore[]1" required> 
                <div class="valid-feedback">Valid</div> 
                <div class="invalid-feedback"> 
                    Please fill this field 
                </div> 
            </div>
            <div class="form-group after-add-more form-inline">
              <input type="text" name="addmore[]" class="form-control" placeholder="Choice#" style="width:500px">
                <div class="form-group-btn"> 
                  <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> +</button>
                </div>
            </div> 
              
            <div class="form-group"> 
                <p class="text-left">Question 3</p> 
                <input type="text" class="form-control" id="Q3"
                    placeholder="Type text here" name="addmore[]1" required> 
                <div class="valid-feedback">Valid</div> 
                <div class="invalid-feedback"> 
                    Please fill this field 
                </div> 
            </div>
            <div class="form-group after-add-more form-inline">
              <input type="text" name="addmore[]" class="form-control" placeholder="Choice#" style="width:500px">
                <div class="form-group-btn"> 
                  <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> +</button>
                </div>
            </div>
              
            <div class="form-group"> 
                <p class="text-left">Question4</p> 
                <input type="text" class="form-control" id="Q4"
                    placeholder="Type text here" name="addmore[]1" required> 
                <div class="valid-feedback">Valid</div> 
                <div class="invalid-feedback"> 
                    Please fill this field 
                </div> 
            </div>
            <div class="form-group after-add-more form-inline">
              <input type="text" name="addmore[]" class="form-control" placeholder="Choice#" style="width:500px">
                <div class="form-group-btn"> 
                  <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> +</button>
                </div>
            </div>

            <div class="form-group after-add-more1">
                 <div class="form-group-btn"> 
                  <button class="btn btn-success add-more1" type="button"><i class="glyphicon glyphicon-plus"></i> Question +</button>
                </div>
            </div>
              
            <!--<div class="form-group form-check"> 
                <label class="form-check-label"> 
                    <input class="form-check-input" type="checkbox"
                        name="remember" required> I agree 
                    <div class="valid-feedback">Valid</div> 
                    <div class="invalid-feedback"> 
                        Please check the checkbox 
                    </div> 
                </label> 
            </div>-->

            <button type="submit" class="btn bg-success">Submit</button> 
        </form>
    </div>
    <div class="copy" style="display:none">
      <div class="form-group form-inline">
        <input type="text" name="addmore[]" class="form-control" placeholder="Choice#" style="width:500px">
        <div class="form-group-btn"> 
          <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> -</button>
        </div>
      </div>
    </div>

    <div class="copy1" style="display:none">
      <div class="form-group">
        <p class="text-left">Question#</p>
        <div class="form-inline">
        <input type="text" name="addmore[]1" class="form-control" placeholder="Enter text here" style="width:1078px" required>
        <div class="form-group-btn"> 
          <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> -</button>
        </div>
        <div class="valid-feedback">Valid</div> 
        <div class="invalid-feedback"> Please fill this field </div>
        </div>
        <div class="form-group after-add-more form-inline">
          <input type="text" name="addmore[]" class="form-control" placeholder="Choice#" style="width:500px">
          <div class="form-group-btn"> 
            <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> +</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <!--<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started?</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <button type="submit" class="btn btn-block btn-lg btn-primary">Go To Playground!</button>
        </div>
      </div>
    </div>
  </section>-->

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Project created by SER515.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".add-more").click(function(){ 
          var html = $(".copy").html();
          $(".after-add-more").after(html);
      });
      $("body").on("click",".remove",function(){ 
          $(this).parents(".form-group").remove();
      });
      $(".add-more1").click(function(){ 
          var html = $(".copy1").html();
          $(".after-add-more1").after(html);
      });
    });
  </script>

  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>