<!DOCTYPE HTML>
<html>

<head>
    <title>LeARn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Play">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/homemain.css" />
</head>

<body>

   <!-- Header -->
    <header id="header">
        <div class="inner">
            <nav id="nav">
                <a href="/home">Home</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Welcome to Interactive Learning</h1>
            </header>

            <footer>
                <a href="/login" class="button">Login</a>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="/register" class="button">Register</a>
            </footer>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">

            <h3>About Us</h3>
            
            The Interactive Learning App is designed to make a Mathematics fun. Pictorial form of mathematics concepts makes study interesting. In playground area a student can learn about concept and then take quiz to check understanding.
            
        </div>
    </footer>

    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>