{% extends "layout.html" %}
{% block body %}

	<div class="signin">

		<form method = "POST", action = "/login">
			<h2 style="color: white">Sign-In</h2>

			<input type="text" name="email" placeholder="Email ID" required>
			<input type="password" name="pass" placeholder="Password" required><br><br>

			<input type="submit" value="Lets Go!"></a><br><br>
			
			<div id ="container">

				<a href="#" style="margin-right: 0px; font-size: 20px; font-family: 'Amatic SC', cursive;">Forgot Password</a>

			</div><br><br><br>
			Don't have account? <a href="/register"> &nbsp; Sign Up</a>

		</form>
	</div>

{% endblock %}