<!DOCTYPE HTML>
<html>
<head>
	<link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Playground</title>
	  <link href="static/css/playground.css" rel="stylesheet">
</head>
<body>
<h1>Playground</h1>
<div class="container">
	<div class="box">
		<div class="box-row">
			<div id="drop" class="box-cell box1">
	<div id="output"></div>
</div>
<div id="operationBox"  class="box-cell box2">
	<div id="output2">
<div draggable="true" class="dragable-operand" data-title="Box 1" data-price="+" id="operand">+</div>
<div draggable="true" class="dragable-operand" data-title="Box 2" data-price="-" id="operand">-</div>
<div draggable="true" class="dragable-operand" data-title="Box 3" data-price="x" id="operand">x</div>
<div draggable="true" class="dragable-operand" data-title="Box 4" data-price="/" id="operand">/</div>
</div>
<button id='equals' class='dragable-button'>=</button>
<button id='reset' class='dragable-button'>RESET</button>
</div>
</div>
</div>
</div>
<div id= "textbox" draggable="true" class="dragable-item" data-title="inputBox" data-price="200" contenteditable="true">
<span id="textid">0</span>
</div>
<div draggable="true" class="dragable-item" data-title="Box 1" data-price="1" id="vals" >1</div>
<div draggable="true" class="dragable-item" data-title="Box 2" data-price="2" id="vals">2</div>
<div draggable="true" class="dragable-item" data-title="Box 3" data-price="3" id="vals">3</div>
<div draggable="true" class="dragable-item" data-title="Box 4" data-price="4" id="vals">4</div>
<div draggable="true" class="dragable-item" data-title="Box 5" data-price="5" id="vals">5</div>
<div draggable="true" class="dragable-item" data-title="Box 6" data-price="6" id="vals">6</div>
<div draggable="true" class="dragable-item" data-title="Box 7" data-price="7" id="vals">7</div>
<div draggable="true" class="dragable-item" data-title="Box 8" data-price="8" id="vals">8</div>
<div draggable="true" class="dragable-item" data-title="Box 9" data-price="9" id="vals">9</div>
<div style="clear:both;"></div>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="static/js/playground.js"></script>

</body>
</html>
