<!DOCTYPE html>
<html>
<head>
	<title> Register </title>
	<link rel= "stylesheet" type= "text/css" href= "static/css/style.css">
	<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Play">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
</head>
	<body>
	
		<div class="signUp">
		<form>
			<h2 style="color: white">Register</h2>


			<div id="fname_div">
			<input id="fname" type="text" name="fName" placeholder="First Name"></div>
			

			<div id="lname_div">
			<input id="lname" type="text" name="lName" placeholder="Last Name"></div>

			<div id="password_div">
			<input id="pass" type="password" name="pass" placeholder="Password"></div>
			
			<div id="confirmPass_div">
			<input id="confirmpass" type="password" name="confirmPass" placeholder="Confirm Password"></div>


			<div id="email_div">
			<input id="email" type="text" name="email" placeholder="Email Address"></div>

			<br>
			<input id="button" type="submit">

			<br>

			Already have an account? <a href="/login"> &nbsp; Sign In</a>
		</form>
	</div>
	</body>

<script src = "static/js/validation.js"></script>


</html>