<!DOCTYPE html>
<!-- code by webdevtrick (https://webdevtrick.com) -->
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="style.css">
      <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <style>
        .mb20 {
            margin-bottom: 20px;
        }
        .mb40 {
            margin-bottom: 40px;
        }
        .center {
            margin: auto;
        }
        #quiz {
            padding: 2%;
        }
        h3 {
            padding: 3% 0;
        }
    </style>
</head>
<body>

    <nav class="row bg-light sticky-top text-center d-flex justify-content-center mb-4">

          <!-- Grid column -->
          <div class="col-md-2 pt-3">
            <h1 class="font-weight-bold" style = "font-family: 'Nanum Brush Script', cursive; float:left;">
              <a href = "/adminconsole" style= "text-decoration: none;">LeARn</a>
            </h1>
             
          </div>
          <!-- Grid column -->
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- Grid column -->
          <div class="col-md-2 pt-4">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/admin" style= "text-decoration: none;">Home</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 pt-4">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/reviewGrades" style= "text-decoration: none;">Review Grades</a>
            </h6>
          </div>
          <!-- Grid column -->

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- Grid column -->
          <div class="col-md-2 pt-2" >
            <a class="btn btn-primary text-uppercase mt-2" style= "float:right" href="/logout">Log out</a>
          </div>
          
      </nav>


    <div class="grid">
        <div id="quiz">
            <h3>Assignment 2</h3>

            <div class="col-md-8 text-center center">
                <h4 id="question" class="mb40"></h4>

                <div class="buttons col-md-6 center">
                    <button id="btn0" class="btn btn-primary col-md-12 mb20"><span id="choice0"></span></button>
                    <button id="btn1" class="btn btn-primary col-md-12 mb20"><span id="choice1"></span></button>
                    <button id="btn2" class="btn btn-primary col-md-12 mb20"><span id="choice2"></span></button>
                    <button id="btn3" class="btn btn-primary col-md-12 mb20"><span id="choice3"></span></button>
                </div>
            </div>


            <hr style="margin-top: 50px">
            <footer>
                <p id="progress">Question x of y</p>
            </footer>
        </div>
    </div>


<script src="static/js/takeQuiz.js"></script>

</body>
</html>